<div class="center-container">
    
    <!-- <img src="https://marketplace.canva.com/EAE8eSD-Zyo/1/0/1600w/canva-blue%2C-white-and-green-medical-care-logo-oz1ox2GedbU.jpg" class="image-class" alt=""> -->
    <form #myForm="ngForm" (ngSubmit)="submitForm(myForm)">
      <div class="logo-class"> 
      <img src="../../../assets/img.jpeg" width="100px" height="100px" alt="logo" />
    </div>
      <h1>Login </h1>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" id="email" name="email" [(ngModel)]="formData.email" required email>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" id="password" name="password" [(ngModel)]="formData.password" required>
      </mat-form-field>
      
      <p>don't have an account <a href="/signUp">Register</a></p>
      
        <br>
        <button mat-flat-button  color="primary" [disabled]="loader">
          <span *ngIf="loader">
            <mat-spinner diameter="20" > </mat-spinner>
          </span>
          <span *ngIf="!loader">Login</span>
        </button>
        <span style="display: flex; justify-content: center; color:green; padding: 2px;" *ngIf="success === true">Login Successfull</span>
        <span style="display: flex; justify-content: center; color:red; padding: 2px;" *ngIf="loginError === true">Login Error</span>

      </form>
    </div>
  
