
/* Customize the navbar */
.navbar {
    background-color: #333;
  
  }
  
  .navbar-brand {
    color: #fff;
  }
  
  .nav-link {
    color: #fff;
  }
  
  /* Center align card content */
  .card {
    text-align: center;
    width: 200px;
  }
  
  /* Add some padding to the card body */
  .card-body {
    padding: 20px;
  }
  
  /* Add margin to the container */
  .container {
    margin-top: 20px;
  }
  .card:hover {
    transform: scale(1.03);
    cursor: pointer;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  
  }
  .top-left-nav{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .link{
    text-decoration: none;
    color: black;
  }
  .link:hover{
    transform: scale(1.05);
    color: #b8b1b1;
  }