.center-container {
    display: flex;
    /* justify-content: first baseline; */
    justify-content: center;
    align-items: center;
    height: 100vh; 
    /* background-color: red; */
    width: 100vw;
    overflow-y: scroll;
}

form {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    /* background-color: yellow; */
    height: 75%;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;

  }
    .logo-class {
      position: absolute;
      top: -50px;
      left: 200;
      object-fit: contain;
    }
   
  .image-class {
  max-width: 100%;
    object-fit: contain;
    height: 100vh;
    width: 90vh;
  }
 