<div class="center-container">
  <!-- <img src="https://marketplace.canva.com/EAE8eSD-Zyo/1/0/1600w/canva-blue%2C-white-and-green-medical-care-logo-oz1ox2GedbU.jpg" class="image-class" alt=""> -->
  <form #myForm="ngForm" (ngSubmit)="submitForm(myForm)">
    <div class="logo-class">
      <img src="../../.././assets/img.jpeg" width="100px" height="100px" alt="logo" />
      <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT46IwTxD0wtKWwH1VjljIAXoioYod7i4sxowdwCMWXew&s" width="100px" height="100px" alt="logo" /> -->
    </div>
    <h1>Sign Up</h1>
    <mat-form-field>
      <mat-label>FullName</mat-label>
      <input matInput type="text" id="lastName" name="lastName" [(ngModel)]="formData.fullName" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput type="number" id="age" name="age" [(ngModel)]="formData.age" required >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" id="email" name="email" [(ngModel)]="formData.email" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" id="password" name="password" [(ngModel)]="formData.password" required>
    </mat-form-field>
    <p>already have an account <a href="/login">login here</a></p>
    <br>
    <p style="color: white; background-color: rgb(155, 214, 155); padding: 2px;" *ngIf="success === true"> user registered please login</p>
  
    <button mat-flat-button  color="primary" [disabled]="loader">
      <span *ngIf="loader">
        <mat-spinner diameter="20"> </mat-spinner>
      </span>
      <span *ngIf="!loader">Register</span>
    </button>
    <span *ngIf="loginError === true " style="display: flex; justify-content: center; color: red;" >login error</span>
  </form>
  
  </div>
  
