.center-container {
    display: flex;
    /* justify-content: first baseline; */
    justify-content: center;
    align-items: center;
    /* margin-top: 5% ; */
}

form {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: 2%;
    margin-bottom: 2%;

  }
  .logo-class {
    position: absolute;
    top: -50px;
    left: 200;
    object-fit: contain;
  }
  
  .image-class {
    max-width: 100%;
    object-fit: contain;
    height: 100vh;
    width: 90vh;
  }
  /* Customize the navbar */
.navbar {
    background-color: #333;
  }
  
  .navbar-brand {
    color: #fff;
  }
  
  .nav-link {
    color: #fff;
  }
  
  /* Center align card content */
  .card {
    text-align: center;
    width: 200px;
  }
  
  /* Add some padding to the card body */
  .card-body {
    padding: 20px;
  }
  
  /* Add margin to the container */
  .container {
    margin-top: 20px;
  }
  .card:hover {
    transform: scale(1.03);
    cursor: pointer;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .main-cards {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
  }
  .row {
    display: flex;
    gap: 20px;
  }
  .link{
    text-decoration: none;
    color: black;
  }
  .link:hover{
    transform: scale(1.05);
    color: #b8b1b1;
  }
  .form{
    border: 1px solid rgb(225, 222, 222);
  }
  