
<!-- <div style="display: flex;justify-content: center; align-items: center;height: 100vh;">
  <div class="calender-div">
    <h1>Book New Appointement</h1>
    <ejs-calendar (change)="onValueChange($event)" [cssClass]="cssClass"></ejs-calendar>
    <span id="selected">Selected Value: </span>
  </div>
  
</div> -->

<div   style="display: flex;justify-content: center; align-items: center;height: 100vh; margin-top: 20px;margin-bottom: 20px;"> 
  <div class="" style="width: 800px;">
    <button  *ngIf="selected === true"  mat-flat-button color="primary" (click)="SubmitBook()"  style="margin-top: 10px;">Submit </button>
    <full-calendar  style="cursor:pointer;border: 1px solid rgb(192, 192, 192);padding: 5px;" [options]="calendarOptions"></full-calendar>
    <!-- <full-calendar
      [options]="calendarOptions"
      [events]="eventsPromise | async"
      ></full-calendar> -->
      
    </div>
  </div>
