
<mat-toolbar style="background-color: rgb(239, 235, 235);"> 
  <mat-toolbar-row class="row"> 
    <img src="../../assets/logo.png" (click)="logoClick()" style="cursor: pointer;"   width="60" height="60"/>
    <a href="" class="link"> <h3>  Contact </h3> </a>
   <a href=""  class="link">  <h3> About Us </h3> </a>
    <a href="/book"  class="link">  <h3>Book Appointement</h3> </a>
  
  </mat-toolbar-row>
  </mat-toolbar>
<div class="center-container" style="background-color: rgb(255, 255, 255);">
    <form #myForm="ngForm" class="form" (ngSubmit)="submitForm(myForm)">
      <div class="logo-class">
      </div>
      <h1>Book Appointement</h1>
      <mat-form-field>
        <mat-label>FullName</mat-label>
        <input matInput type="text" id="fullName" name="fullName" [(ngModel)]="formData.fullName" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput type="number" id="phone" name="phone" [(ngModel)]="formData.phone" required >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="text" id="insurance" name="insurance" [(ngModel)]="formData.insurance" required>
      </mat-form-field>  
      <mat-form-field>
        <mat-label>Date Of Appointement</mat-label>
        <input matInput type="date" id="appDate" name="appDate" [(ngModel)]="formData.appDate" required>
      </mat-form-field>  
      <br>
      <button mat-flat-button color="primary"> Submit </button> 
    </form>
    
    </div>
    
  
