<mat-drawer-container  class="example-container" [hasBackdrop]="true" >
  <mat-drawer #drawer mode="over" class="drawer">
    <div class="side-div"> 
      <h3><a [routerLink]="['/book']" matTooltip="book New" class="link">Book Appointment</a></h3>
      <h3><a [routerLink]="['/dashboard']" matTooltip="dashboard" class="link">Dashboard</a></h3>
      <h3><a [routerLink]="['/profile']" matTooltip="profile" class="link">User Profile</a></h3>
      <h3><a [routerLink]="['/history']" matTooltip="appointment history " class="link">Appointment History </a></h3>

    </div>
  </mat-drawer>
    <mat-drawer-content>
      <div > 
        <div style="display: flex; justify-content: space-between;background-color: rgb(244, 244, 244);"> 
        <button [style.display]="displayButton ? 'block' : 'none'" mat-raised-button (click)="drawer.toggle()">
            <mat-icon> menu </mat-icon>
          </button>
          <button [style.display]="displayButton ? 'block' : 'none'" mat-icon-button (click)="logout()" matTooltip="Logout">
            <mat-icon>logout</mat-icon>
          </button>
          </div>
          <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
</mat-drawer-container> 