
<mat-toolbar style="background-color: rgb(239, 235, 235);"> 
<mat-toolbar-row class="row"> 
  <img src="../../assets/logo.png"   width="60" height="60"/>
  <a href="" class="link"> <h3>  Contact </h3> </a>
 <a href=""  class="link">  <h3> About Us </h3> </a>
  <a href="/book"  class="link">  <h3>Book Appointement</h3> </a>

</mat-toolbar-row>
</mat-toolbar>
<div class="main-cards"> 
<app-cards ></app-cards>
<app-cards ></app-cards>
<app-cards ></app-cards>
<app-cards ></app-cards>
<app-cards ></app-cards>
<!-- <app-book-form></app-book-form> -->
</div>


